# python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# env
.env
.venv/
venv/

# data & backups
orders.db
orders_backup_*.db
backups/
exports/

# logs
*.log

# system/IDE
.DS_Store
.idea/
.vscode/

# zips
*.zip
